<table class="table table-hover">
    <thead>
    <th>ドメイン名</th>
    <th>説明</th>
    <th></th>
    <th></th>
    <th></th>
    </thead>
    <tbody>
    <tr ng-repeat="domain in domains | filter: searchDomain" ng-dblclick="detailDomain()" data-toggle="modal" data-target="#selectTargetModal" >
        <td>{{domain.domain}}</td>
        <td>{{domain.description}}</td>
        <td>
            <input type="checkbox" ng-model="domain.active" ng-change="activeDomain(domain)" />
        </td>
        <td>
            <i title="Edit" style="color: #128d36;" data-toggle="modal" data-target="#editDomainModal" class="glyphicon glyphicon-edit cursorPointer" ng-click="editDomain(domain)">
            </i>
        </td>
        <td>
            <i title="Delete" style="color: #d85010;" class="glyphicon glyphicon-trash cursorPointer" ng-click="removeDomain(domain.id)">
            </i>
        </td>
    </tr>
    </tbody>
</table>
<!--<p style="color: rgb(110, 114, 114)">Showing <strong style="color: rgb(42, 41, 41);">{{ (domains | filter:searchDomain).length }}</strong> of <strong style="color: rgb(16, 106, 135);">{{domains.length}}</strong> entries</p>-->